CompileFlags:
  Compiler: C:/msys64/ucrt64/bin/g++.exe
  Add:
    - -std=c++23
    - -Wall
    - -Wextra
    - -g
  # - -target
  # - x86_64-w64-windows-gnu


    - -isystem
    - C:/msys64/ucrt64/include/c++/16.1.0
